.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(24, 0, 80);
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}

.nav_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(52, 10, 100);
    padding: 10px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(85, 36, 131);
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(207, 159, 1);
    padding: 15px;
    flex: 1;
    text-align: center;
}

.flex-photo {
    width: 120px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.flex-photo2 {
    width: 75%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
}

.skills-auto {
    justify-content: space-between;
}

.projects {
    justify-content: space-between;
}

.footer {
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-photo {
    width: 50px;
    height: auto;
}

.footer-text {
    text-align: left;
}


h2 {
    text-align: center;
}
