.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(24, 0, 80);
    flex-direction: row;
    justify-content: space-around;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(52, 10, 100);
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(85, 36, 131);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(207, 159, 1);
}
.flex-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

.break {
  flex-basis: 100%; /* Takes up the full width */
  height: 0;
  margin: 0;
  padding: 0;
}